body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;

}

.box{
    box-shadow: 0 0 20px lightgray;
    -moz-box-shadow: 0 0 20px lightgray;
    -webkit-box-shadow: 0 0 20px lightgray;
    -o-box-shadow: 0 0 20px lightgray;
    padding: 20px 30px 20px 30px;
    text-align: center;
    margin: auto;
    width:20%;
    position: absolute;
    top: 50px;
}

.logo{
    height: 120px;
}

#logo{
    height: 120px;
}

input[type= text] {
    width: 90%;
    padding: 15px;
    background-color: #f6f6f6;
    border: 2px solid #f6f6f6;
    text-align: center;
    margin-top: 15px;
}

.btn {
    background-color: #ae202c;
    border: none;
    color: #fff;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,.4);
    border-radius: 5px;
    margin: 10px 20px;
    margin-top: 20px;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
  }