#map {
    
    height: 700px;
    margin: auto;   
    left: 0;
    right: 0;
    top: 400px;
    position: absolute;
}

.leaflet-popup-content-wrapper {
    text-align: center;
    background-color: #E3E3E3;
    color: black;
    padding: 20px;
}

#reserva{
    background-color: #ae202c;
    border: none;
    color: #fff;
    padding: 5px;
}
