body{
    background-color:lightgray;
}
.box{
    width: 200px;
    height: 170px;
    background-color:black;
    position:absolute;
    top: 100px;
    left: 15px;
    text-align: center;
    color:white;
    padding-top: 20px;

}

.boxText{
    text-decoration: none;
    color:white;
    font-size: 20px;

}

.boxText:hover{
    color: grey;
    
}

#ride {
    box-shadow: 0 0 20px white;
    -moz-box-shadow: 0 0 20px white;
    -webkit-box-shadow: 0 0 20px white;
    -o-box-shadow: 0 0 20px white;
    padding: 20px 30px 20px 30px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    background-color:white;
  }

  #information{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      border-bottom: 1px solid darkgray;
  }

  #rideI{
      color: gray;
  }

  .btn {
    background-color: #005578;
    border: none;
    color: #fff;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 40px;
    margin: 10px 20px;
    margin-top: 20px;
    
}